<form>
    <h1>Criando novo Livro</h1>

    <mat-form-field class="form">
        <mat-label>Autor</mat-label>
        <input matInput [(ngModel)]="livro.author" [formControl]="author" required type="text" name="author" placeholder="Ex. Computação" maxlength="100">
        <mat-error *ngIf="author.invalid"> {{ getMessage() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Titulo</mat-label>
        <input matInput [(ngModel)]="livro.title" [formControl]="title" required  type="text" name="title"
            placeholder="Ex. Livros de Computação">
            <mat-error *ngIf="title.invalid"> {{ getMessage() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Preço</mat-label>
        <input matInput [(ngModel)]="livro.price" number-only="." [formControl]="price" required  type="number" name="price" 
            placeholder="Ex. 50.00">
            <mat-error *ngIf="price.invalid"> {{ getMessage() }}</mat-error>
    </mat-form-field>

    <div class="buttons">
        <button (click)="create()" class="mat-elevation-z8" mat-stroked-button color="primary">Criar</button>
        <button (click)="cancel()" class="mat-elevation-z8" mat-stroked-button color="warn">Cancelar</button>
    </div>

</form>